@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Välkommen till Hotell Isaac</h1>

</div>
@*<img src="~/Pics/HotelPic.jpg" alt="Hotell Isaac" style=" 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;">*@

@if (null != TempData["msg"])
{
    @Html.Raw(TempData["msg"])
}


 