@model IsaacsHotell.Models.Bokning

@{
    ViewData["Title"] = "Create";
}
@if (ViewBag.inloggen != null) {<p>Viewbag.inloggen</p>}

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="LookForAvailableRooms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <p>Boka från:</p><input id="BookFrom" name="BookFrom" type="date" class="" value="" onclick="LookForAvailableRooms()" />

            <p>Boka till:</p><input id="BookTo" name="BookTo" type="date" class="" value="" onclick="LookForAvailableRooms()" />

            <p>Antal personer:</p><input id="NoOfMembers" name="NoOfMembers" type="number" class="" value="1" onclick="LookForAvailableRooms()" min="1" max="2" />
            <p>Extra säng:</p><input id="Extrabed" name="Extrabed" type="checkbox" class="" value="true" onclick="LookForAvailableRooms()" />

            <p> - </p>
            <input type="submit" value="Available rooms" class="Boka" />
        </form>
    </div>
</div>

